body {
background-color: rgb(220, 220, 220);
margin: 0;
padding: 0;
}
.text-new {
font-family: 'Courier New', Courier, monospace;
}
.animated-title {
  animation: pulse 0.1s;
}

.bg-gris{
  background-color: rgb(220, 220, 220) !important;
}
.text-aling{
  text-align: center;
}
.card5 {
  width: 35%; 
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: 'Roboto', sans-serif;
}

.img-tm {
    width: 1200px;
    height: 530px !important;}
    .bg-gris{
      background-color: rgb(179, 179, 201);
  }
  .h-200{
      height: 200px !important;
  }
  .text-justificado{
      text-align: justify !important;
  }
  .btn-tipo{
          --bs-btn-color: #7b7b7d;
          --bs-btn-bg: #ffffff;
          --bs-btn-border-color: #767676;
          --bs-btn-hover-color: #fff;
          --bs-btn-hover-bg: #4d4e51;
          --bs-btn-hover-border-color: #d2d2d2;
          --bs-btn-focus-shadow-rgb: 66,70,73;
          --bs-btn-active-color: #fff;
          --bs-btn-active-bg: #0091ff;
          --bs-btn-active-border-color: #373b3e;
          --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          --bs-btn-disabled-color: #e90000;
          --bs-btn-disabled-bg: #d3d63f;
          --bs-btn-disabled-border-color: #ff0000;
  }
  .header-text {
    font-size: 48px; 
    font-weight: bold; 
    color: #333; 

}
.buble {
    font-family: 'Baloo 1', cursive;
    font-size: 50px;
    color: #000000;
}


.brd{
  border: 5px solid #000000;
  border-radius: 30px;
  width: 700px;
  height: 100px;

}
.brd1{
  border: 5px solid #0016d8;
  border-radius: 30px;
  width: 700px;
  height: 100px;

}
.brd2{
  border: 5px solid #ff0000;
  border-radius: 30px;
  width: 700px;
  height: 100px;
  
}
.card-body {
  flex: 1;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  min-height: 400px; /* Ajusta este valor según tus necesidades */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.img-fluid {
  max-height: 300px;
  width: auto;
}

.card3 {
  transition: transform .2s, box-shadow .2s; 
  display: flex;
  align-items: stretch;
  box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
}

.card3:hover {
  transform: scale(1.1);
  box-shadow: 8px 16x 0 rgba(0,0,0,0.2);
}

.precio {
  font-family: Arial, sans-serif;
  font-size: 2em; 
}

.textdark{
  border: 2px;
  border-radius: 20px;
  background-color: #505051;
  border-color: #000000;
}
.encabezado-nike {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  animation: cambioColor 5s infinite; 
}
@keyframes cambioColor {
  0% { color: #000000; }
  25% { color: #686868; } 
  50% { color: #505051; }
  75% { color: #b8b8b8; } 
  100% { color: #000000; } 
}
.encabezado-nike {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background-color: cambioColor 5s infinite; 
}
@keyframes cambioColor {
  0% { color: #000000; }
  25% { color: #686868; } 
  50% { color: #505051; }
  75% { color: #b8b8b8; } 
  100% { color: #000000; } 
}
.encabezado-fondo {
  animation: fondo 5s infinite; 
}
@keyframes slideInLeft {
  from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.animated-title {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: slideInLeft, fadeIn;
}
.omg {
  height: 180px !important;
}

@keyframes fondo {
  0% { color: rgb(146, 201, 255); }
  25% { color: rgb(0, 106, 255); } 
  50% { color: #7777f3; }
  75% { color: #5134f3; } 
  100% { color: rgb(0, 183, 255); } 
}
.form-control {
border: none;
border-bottom: 1px solid #000;
border-radius: 0;
box-shadow: none;
}
.border { 
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}
.header {
  font-family: 'Roboto', sans-serif;
}

.header {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(63, 63, 94) 35%, rgb(97, 102, 103) 100%);
  background-size: 200% auto;
  color: white;
  padding: 50px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: gradient 10s ease infinite; /* Agregar la animación aquí */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.moving-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, #f3ec78, #af4261);
  animation: border-move 2s linear infinite;
}

@keyframes border-move {
  0% {border-image-source: linear-gradient(45deg, #f3ec78, #af4261);}
  100% {border-image-source: linear-gradient(45deg, #af4261, #f3ec78);}
}

table {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-collapse: collapse;
  margin: 50px auto;
  animation: animate__animated animate__bounceIn;
  
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f3ec78;
  color: #af4261;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.creator-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 2s;
}



@media (max-width: 768px) {
    .img-tm {
      height: 200px !important;
    }
  }
@media (max-width: 1200px) {
    .img-tm {
      height: 370px !important;
    }
  }
@media (max-width: 700px) {
    .img-tm {
      height: 110px !important;
    }
  }